<div class="wrapper">
    <div class="container">
        <div class="row text-center">
            <h1 id="title">Weather App</h1>

            <h1>5 day forecast</h1>

            <form ng-submit="getForecast()">
                <label for="location">City,State</label>
                <input ng-model="location" id="location" type="text"/>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <alert ng-show="showAlert" type="alert.type" close="showAlert = !showAlert">{{alert.msg}}</alert>
            </div>
        </div>
        <div class="row text-center weather-day" ng-repeat="day in days">
            <div class="col-sm-8 col-sm-offset-2 weather-row">
                <div class="col-lg-3">
                    <p>{{day.day}}</p>
                </div>
                <div class="col-lg-3">
                    <span><i class="{{day.icon}} weather-icon"></i> {{day.cond}}</i></span>
                </div>
                <div class="col-lg-2">
                    <span><i class="wi-cloud-up weather-icon"></i> {{day.high}} <i class="wi-degrees"></i></span>
                </div>
                <div class="col-lg-2">
                    <span><i class="wi-cloud-down weather-icon"></i> {{day.low}} <i class="wi-degrees"></i></span>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-default btn-md details-button" ng-click="showForecast = !showForecast">
                        Details <i class="fa fa-caret-square-o-down"></i>
                    </button>
                </div>

            </div>
            <div class="row text-center animate-show" ng-show="showForecast">
                <div class="col-sm-8 col-sm-offset-2 forecast-row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p>Conditions: {{day.precipitation}}</p>
                        <br/>

                        <p>Forecast: {{day.forecast}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>